<p>demo works!</p>
<button (click)="buttonClicked($event)">Rozpocznij odbiór</button>

<hr>
<h1>Algorytm Paxos</h1>
<label>Propozycja </label>
<input type="text"/>
<button>Wyślij propozycje</button>
<button>Zapytaj o akceptację</button>

<h2>Otrzymane propozycje</h2>
<ul>
  <li *ngFor='let data of signalRService.bradcastedData'>
<!--    <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}-->
    <p>Propozycja: ...</p>
  </li>
</ul>
<hr>
<h2>Logi</h2>
<ul>
  <li *ngFor='let data of signalRService.bradcastedData'>
    <p>Nowa najlepsza propozycja: ...</p>
  </li>
</ul>
<button>Zaakceptuj propozycje</button>
