.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
}

.btn:hover {
  color: rgba(0,0,0,0.2);
  cursor: pointer;
}

.btn-start-rcv {
  background-color: #801515;
  color: whitesmoke;
}

li {
  background-color: #003333;
  padding: 1rem;
  color: whitesmoke;
  margin-top: .5rem;
  max-width: 75%;
}


#container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.toast {
  padding: 2rem;
  background-color: purple;
  color: whitesmoke;
  border-radius: 5px;
  margin: 1rem;
}
